.wrapper {
  display: flex;
  flex-flow: row;
}

/* Set widths for panels */
.input-panel {
	flex-basis: 25%;
}

.main-panel {
	flex-basis: 75%;
}

/* Margins for panels */
.navbar-margin {
	margin-bottom: 15px;
}

.input-panel-margin {
	margin-right: 15px;
}

/* Remove bullet points from list */
.navbar__ul {
	list-style: none;
}

/* Add spacing between list items */
.navbar__ul li {
	display: inline-block;
	margin-right: 10px
}

.navbar-styling {
	padding-bottom: 15px;
	padding-top: 15px;
	font-size: 1.4em;
	border: solid 2px black;
	background-color: #FFB4B0;
}

.input-panel-styling {
	border: solid 2px black;
	background-color: #4DD7FA;
}

.main-panel-styling {
	border: solid 2px black;
	background-color: #FEFAC0;
}

/***********
Form Styling
************/
.form {
	display: flex;
	flex-direction: column;
}

#slider, .select {
	width: 95%;
	align-self: center;
}

.form label {
	margin-bottom: 10px;
}


















