/************************
Desktop design
*************************/

.wrapper {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

/* The input panel takes a quarter of the width */
.input-panel {
	flex: 0 25%;
}

.main-panel {
	flex: 0 75%;
}

/* Same margins vertically and horizontally */
.navbar-margin {
	margin-bottom: 15px;
}

.input-panel-margin {
	margin-right: 15px;
}

/* Navbar */
.navbar__ul {
	list-style: none;
}

.navbar__ul li {
	display: inline-block;
	margin-right: 10px
}

.navbar-styling {
	padding-bottom: 15px;
	padding-top: 15px;
	font-size: 1.4em;
	border: solid 2px black;
	background-color: #FFB4B0;
}

/* Input Panel */
.input-panel-styling {
	border: solid 2px black;
	background-color: #4DD7FA;
}

/* Main Panel */
.main-panel-styling {
	border: solid 2px black;
	background-color: #FEFAC0;
}










/************************
MOBILE DESIGN
*************************/
@media (max-width: 750px) {
	
	/* All page elements in a column now with width 100% */
	.wrapper {
		display: flex;
		flex-flow: row wrap;
	}

	.input-panel, .main-panel {
		flex: 1 100%;
	}

	.input-panel-margin {
		margin-bottom: 15px;
		margin-right: 0;
	}
}












