/****************************************
A place to play around with media queries
*****************************************/

.wrapper {
  display: flex;
  flex-flow: row-wrap;
}

/* We tell all items to be 100% width */
.input-panel, .main-panel {
  flex: 1 100%;
}

body {
	background-color: yellow;
}

/* Medium screens */
@media all and (min-width: 768px) {
  body {
  	background-color: blue;
  }
}

/* Large screens */
@media all and (min-width: 992px) {
  body {
  	background-color: green;
  }
}
















